@{
    ViewData["Title"] = "Chema Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Chema</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    @DateTime.UtcNow.ToString("dd-MM-yyyy HH:mm:ss.ffffff")<br />
    @DateTime.UtcNow.Ticks.ToString()
</div>