@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div>
    Test - 12-03-2025 11:59
</div>

<div>
    Test 12-03-2025 12:06
</div>