@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div>
    Test 18-03-2025 14:47
    <br/>
    Objetivo: Este código de la rama "20250311_chema" se tiene que mergar en la rama "master"
    <br/>
    Y después borrar esta rama
</div>

